:root {
    --border-radius: 20px;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --justify-important: center;
    --line-height: 1.5;
    --width-card: 285px;
    --width-card-medium: 460px;
    --width-card-wide: 800px;
}

/* Layout */


body {
    background-color: #ffffff;
    color: #000000;
    font-family: var(--font-family);
    margin: 0;
    
}


/* CARDS */
hr {
    background-color: var(--color-bg-secondary);
    border: none;
    height: 1px;
    margin: 4rem 0;
    width: 100%;
}


section {
    display: flex;
    flex-wrap: wrap;
    justify-content: var(--justify-important);
}


section pre {
    overflow: auto;
}

section aside {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    margin: 1rem;
    padding: 1.25rem;
    width: var(--width-card);
    background-color: #0097fc;
}
/* CARDS */

section aside:hover {
    box-shadow: var(--box-shadow) var(--color-bg-secondary);
}


/* Headers */

header {
    text-align: var(--justify-important);
}

header a b,
header a em,
header a i,
header a strong {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

header nav img {
    margin: 15px;
    left: auto;
}

section header {
    padding-top: 0;
    width: 100%;
}

/* Nav - Barra da Unifeso*/
nav {
    align-items:center;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    margin-bottom: 1rem;
    background: #C0C0C0;
    padding: 3px;
    
} /* Nav - Fim da Barra da Unifeso*/


nav ul {
    list-style: none;
    padding: 0;
    
}

nav ul li {
    display:inline-flex;
    margin: 5px;
    font-size: 15px;
}

h1,h2,h3,h4,h5,h6 {
    line-height: var(--line-height);
    text-wrap: balance;
}

/* Links */
a {
    color: #ffffff;
    display: inline;
    font-weight: bold;
}




.Pesquisar{ /* Início dos códigos da Barra de pesquisa*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.search-box-input::placeholder {
    
    color:#ffffff;
    opacity: 0.6;
}
/* Chrome, Opera e Safari */
.search-box-input::-webkit-input-placeholder { color: #000000; }
/* Firefox */
.search-box-input::-moz-placeholder { color: #000000; }
/* IE e Edge */
.search-box-input:-ms-input-placeholder { color: #000000; }
.search-box form {
    
    display: flex;
    border-radius: 50px;
    background-color: #ffffff;
    height: 45px;
}
.search-box:hover .search-box-input {
    
    padding-left: 2em;
    padding-right: 1em;
    width: 250px;
}
.search-box-input {
    outline: 0;
    font-size: 1.0em;
    color: #000000;
    width: 0;
    padding: 0;
    border: none;
    background: none;
    transition: .45s;
}
.search-box-button {
   display: flex;
   border-radius: 50%;
   width: 45px;
   height: 45px;
   background-color: #14c0c7;
   border: none;
   cursor: pointer;
   transition: .3s;
}
.search-box-button:active  {
    transform: scale(.85);
}
.search-box-icone {
    margin: auto;
    color: #fff;
}
@media screen and (min-width: 400px){
    
    .search-box:hover .search-box-input {
        width: 360px;
    }
} /* Fim dos códigos da Barra de pesquisa*/



