@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {

    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --hover-brightness: 0.90;

}


*{ 
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto';
}

header{
    background-color: #333d;
    width: 100%;
}

.logo{
    width: 15%;
}

.menu{
    width: 20%;
    
}

.menu nav a{/*Cor e tamanho do botão de login*/
    color: #ffffff;
    text-decoration: none;
    padding-right: 25px; 
}

.menu2{
    width: 10%;
}


/*Interação do botão de login*/


.menu2 nav a:hover {
    filter: brightness(var(--hover-brightness));
}

.menu2 nav a b, 
.menu2 nav a i, 
.menu2 nav a strong,

input[type="submit"] {
    border-radius: 5px;
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    line-height: 1.5;
    margin: 0.1rem 0;
    padding: 0.4rem 2rem;
    
    background-color: #ffffff;
    border: 2px solid #ffffff;
    color: #333d;
}

/*/*Fim da Interação do botão de login*/*/


.Pesquisar{ /* Início dos códigos da Barra de pesquisa*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.search-box-input::placeholder {
    
    color:#ffffff;
    opacity: 0.6;
}
/* Chrome, Opera e Safari */
.search-box-input::-webkit-input-placeholder { color: #000000; }
/* Firefox */
.search-box-input::-moz-placeholder { color: #000000; }
/* IE e Edge */
.search-box-input:-ms-input-placeholder { color: #000000; }
.search-box form {
    
    display: flex;
    border-radius: 50px;
    background-color: #ffffff;
    height: 45px;
}
.search-box:hover .search-box-input {
    
    padding-left: 2em;
    padding-right: 1em;
    width: 250px;
}
.search-box-input {
    outline: 0;
    font-size: 1.0em;
    color: #000000;
    width: 0;
    padding: 0;
    border: none;
    background: none;
    transition: .45s;
}
.search-box-button {
   display: flex;
   border-radius: 50%;
   width: 45px;
   height: 45px;
   background-color: #333d;
   border: none;
   cursor: pointer;
   transition: .3s;
}
.search-box-button:active  {
    transform: scale(.85);
}
.search-box-icone {
    margin: auto;
    color: #fff;
}
@media screen and (min-width: 200px){
    
    .search-box:hover .search-box-input {
        width: 240px;
    }
} /* Fim dos códigos da Barra de pesquisa*/

/* Início do user logado*/
.user {
    font-size: 16px;
    font-family:'Roboto';
    color: #ffffff
}

/* Fim do user logado*/



/* Início da Introdução*/
.introdução {
    width: 100%;
    height: 350px;
}

.title-introdução {
    font-size: 18px;
    font-family: Roboto;
    left: 50%;
    text-align: center;
    margin-top: 3%;

}

.text-introdução {
    
    font-size: 15px;
    font-family:sans-serif;
    line-height: 40px;
    font-weight: 50px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
}

/* Fim da Introdução*/

/* Início da Publicações*/

.title-publicações {
    font-size: 18px;
    font-family: Roboto;
    left: 50%;
    text-align: center;
    padding: 30px;
    margin-top: 10px;
}

.campo-publicações {
    width: 50%;
    height: 300px;
    background-color: rgb(217, 218, 218);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    margin-left: 24%;
    margin-right: 15%;
    margin-top: 1%;
    border-radius: 15px;
}

.campo-publicações a {
    font-size: 20px;
    font-family: 'Roboto';
    margin-left: 19px;
   
}

.campo-publicações button {
    border: none;
    background-color: #02f1e9;
    padding: 2.5rem 4rem;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 40%;
    font-size: 21px;
    color: #f5f5f5;

}


.campo-publicações button:hover{
    background-color: #04bbb5;

}

/* Fim da Introdução*/